<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="relawan.moviecatalogue">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name=".view.MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.NowPlayingActivity"
			android:parentActivityName=".view.MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="relawan.moviecatalogue.view.MainActivity" />
		</activity>
		<activity
			android:name=".view.PopularActivity"
			android:parentActivityName=".view.MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="relawan.moviecatalogue.view.MainActivity" />
		</activity>
		<activity
			android:name=".view.search.SearchMovieActivity"
			android:parentActivityName=".view.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="relawan.moviecatalogue.view.MainActivity" />
		</activity>
		<activity
			android:name=".view.search.SearchTvActivity"
			android:parentActivityName=".view.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="relawan.moviecatalogue.view.MainActivity" />
		</activity>
		<activity
			android:name=".view.ReleaseActivity"
			android:parentActivityName=".view.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="relawan.moviecatalogue.view.MainActivity" />
		</activity>
		<activity android:name=".view.detail.DetailMovieActivity" />
		<activity android:name=".view.favorite.FavoriteMovieActivity" />
		<activity android:name=".view.detail.DetailTvActivity" />
		<activity android:name=".view.favorite.FavoriteTvActivity" />
		<activity
			android:name=".settings.SettingsActivity"
			android:configChanges="orientation|keyboardHidden|screenSize" />
		
		<receiver
			android:name=".notification.ReminderNotification"
			android:enabled="true"
			android:exported="false" />
		
		<receiver
			android:name=".notification.ReleaseNotification"
			android:enabled="true"
			android:exported="false" />
		
		
		<receiver android:name=".widget.FavoriteWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/favorite_widget_info" />
		</receiver>
	</application>

</manifest>